.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  position: absolute;
  top: 37%;
  left: 45px;
  z-index: 2;
}

.searchS {
  padding: 10px;
  width: 300px;
}

.ant-select-selection-search-input {
  padding-left: 10px;
}

.t-suspend-button {
  position: fixed;
  top: 400px;
  right: 0;
  width: 4rem;
  height: 4rem;
  border: 1px solid #ccc; 
  box-shadow: 1px 1px 1px #ccc;
}